// ### must have this markup ###
//<div class="inner"><i></i></div>
//example usage
//@include burger-menu(2px, 5px, 'active', #000000);

$easeOutCubic: cubic-bezier(0.215, 0.61, 0.355, 1);

@mixin burger-menu($lineheight, $spacing, $active-class, $color){
  height:$lineheight;
  position: relative;
  top:50%;
  transform:translateY(-50%);
  i{
    background-color: $color;
    height:$lineheight;
    width:100%;
    display: block;
    transition: all 200ms $easeOutCubic;
  }
  &:after,
  &:before{
  	left: 0;
    position: absolute;
    content:"";
    width:100%;
    background-color: $color;
    height:$lineheight;
    transition: transform 250ms $easeOutCubic;
  }
  &:before{
    top:-$spacing;
  }
  &:after{
    bottom:-$spacing
  }
  &.#{$active-class}{
    &:after{
      transform:rotate(45deg);
      bottom:0;
    }
    &:before{
      transform:rotate(-45deg);
      top:0;
    }
    i{
      height:0px;
    }
  }
}